footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: darken($color: $primary, $amount: 15);
	color: antiquewhite;
	font-size: 20px;
	height: 60px;
	margin-top: auto;
}
