#root {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.containerSideSection {
	height: 100%;
	width: 100%;
	display: flex;
}

@media screen and (max-width: 800px) {
	#root {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.containerSideSection {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.main__sidebar {
		background-color: $primary;
		color: white;
		display: flex;
		flex-direction: column;
		width: 100%;
	}
}
