.link {
	color: $dark-grey;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.linkLight {
	color: $light-grey;
	text-decoration: none;

	transition: color 0.3s ease;
	&:hover {
		color: darken($color: $primary, $amount: 20);
	}
}

.linkLight.active {
	color: darken($color: $primary, $amount: 20);
	text-decoration: none;

	transition: color 0.3s ease;
	&:hover {
		color: darken($color: $primary, $amount: 20);
	}
}
