.containerSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem 0rem 1rem;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.delete,
.edit:hover {
  cursor: pointer;
}

.Edit_Delete {
  display: flex;
  justify-content: space-around;
}

.headerTable {
  display: flex;
  background: #7c3494;
  color: #fff;
  margin-top: 0.5rem;
  border-radius: 5px;
}

.titleField {
  width: 18%;
  padding-left: 0.5rem;
}

.field {
  width: 18%;
  padding-left: 0.5rem;
}

.bodyTable {
  display: flex;
  margin-top: 0.5rem;
  background: #d4abdf;
  border-radius: 5px;
}

@media screen and (max-width: 800px) {
  .containerSection {
    margin: 1rem 0rem 0rem 0rem;
  }
  .homeContainer {
    margin-top: -2%;
    font-size: 15px;
  }
}
