.containerSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1rem 1rem 0rem 1rem;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  height: 500px;
  overflow: auto;
}

.headerTable {
  display: flex;
  background: #7c3494;
  color: #fff;
  margin-top: 0.5rem;
  border-radius: 5px;
}

.titleFieldProvider {
  width: 20%;
  padding-left: 0.5rem;
}

.fieldProvider {
  width: 20%;
  padding-left: 0.5rem;
}
.titleFieldProduct {
  width: 25%;
  padding-left: 0.5rem;
}

.fieldProduct {
  width: 25%;
  padding-left: 0.5rem;
}

.bodyTable {
  height: 400px;
  overflow: auto;
}
.rowTable {
  display: flex;
  margin-top: 0.5rem;
  background: #d4abdf;
  border-radius: 5px;
  align-items: center;
}

.optionItem {
  display: flex;
  width: 10%;
}

@media screen and (max-width: 800px) {
  .containerSection {
    margin: 1rem 0rem 0rem 0rem;
    width: 98%;
  }
  .homeContainer {
    margin-top: -2%;
    font-size: 15px;
  }
}

@media screen and (max-width: 667px) {
  .containerSection {
    margin: 1rem 0rem 0rem 0rem;
    width: 98%;
  }
  .homeContainer {
    height: 300px;
  }
  .bodyTable {
    height: 200px;
  }
  .rowTable {
    width: 99%;
  }
  .headerTable {
    display: flex;
    justify-content: center;
  }
  .titleFieldProvider {
    font-size: 12px;
  }
  .titleFieldProduct {
    font-size: 12px;
  }
  .fieldProvider {
    font-size: 10px;
  }
  .fieldProduct {
    font-size: 12px;
  }
  .optionContainer {
    width: 14%;
    display: flex;
  }

  .optionItem {
    font-size: 10px;
    margin-left: 0rem;
  }
}
